h1{
    display: flex;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 42px;
  }
  body{
    background: linear-gradient(45deg, #0b1641 0%, #c70160 100%);
  
  }


.error-message{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 20px;
}

.detalhes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 39px;
    background-color:#C70160;;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    /*margin-top: 14px;
    margin-bottom: 16px;*/

  }
.detalhes:hover {
 width: 117px;
 height: 40px; 
}
.load-more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    margin-bottom: 44px;
    background-color:#0B1641;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 16px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    width: 380px;
    height: 50px;
}
.load-more-button:hover{
  width: 382px;
}